<body>
  <main>
    <div class="content">
      <div class="table-name">チーム成績</div>
      <table>
        <thead class="table-item">
          <tr>
            <th scope="col">チーム名</th>
            <th scope="col">試合数</th>
            <th scope="col">勝利</th>
            <th scope="col">敗北</th>
            <th scope="col">引き分け</th>
            <th scope="col">勝率</th>
            <th scope="col">勝率差</th>
            <th scope="col">チーム防御率</th>
            <th scope="col">チーム打率</th>
            <th scope="col">チーム本塁打</th>
            <th scope="col">チーム盗塁</th>
            <th scope="col">チーム得点</th>
            <th scope="col">チーム失点</th>
            <th scope="col"></th>
          </tr>
        </thead>
        
        <% @team.each do |t| %>
          <tbody>
            <tr>
              <td scope="row"><%= t.team_name.name %></td>
              <td><%= t.game_number %></td>
              <td><%= t.team_win %></td>
              <td><%= t.team_lose %></td>
              <td><%= t.draw %></td>
              <td><%= t.win_rate %></td> 
              <td><%= t.game_difference %></td> 
              <td><%= t.team_defense %></td>
              <td><%= t.team_batting_average %></td>
              <td><%= t.team_homerun %></td>
              <td><%= t.team_steal %></td>
              <td><%= t.team_runs %></td>
              <td><%= t.tema_conceded %></td>
              <td><%=link_to '詳細', "/teams/#{t.id}", class:"btn btn--blue" %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
         <% if user_signed_in? && current_user.admin? %>
            <a><%=link_to '新規データ入力', new_team_path, class:"btn btn--yellow" %></a>
            <a><%=link_to 'TOP', root_path, class:"btn btn--green" %><a>
          <% end %>
    </div>
  </main>
</body>
