<body>
  <main>

    <div class="content">
      <div class="table-name">
        チーム成績
      </div>
      <table>
        <thead class="table-item">
          <tr>
            <th scope="col">チーム名</th>
            <th scope="col">試合数</th>
            <th scope="col">勝利</th>
            <th scope="col">敗北</th>
            <th scope="col">引き分け</th>
            <th scope="col">勝率</th>
            <th scope="col">ゲーム差</th>
            <th scope="col">チーム防御率</th>
            <th scope="col">チーム打率</th>
            <th scope="col">チーム本塁打</th>
            <th scope="col">チーム盗塁</th>
            <th scope="col">チーム得点</th>
            <th scope="col">チーム失点</th>
          </tr>
        </thead>
        
        <tbody>
          <tr>
            <td scope="row"><%= @team.team_name.name %></td>
            <td><%= @team.game_number %></td>
            <td><%= @team.team_win %></td>
            <td><%= @team.team_lose %></td>
            <td><%= @team.draw %></td>
            <td><%= @team.win_rate %></td>
            <td><%= @team.game_difference %></td>
            <td><%= @team.team_defense %></td>
            <td><%= @team.team_batting_average %></td>
            <td><%= @team.team_homerun %></td>
            <td><%= @team.team_steal %></td>
            <td><%= @team.team_runs %></td>
            <td><%= @team.tema_conceded %></td>
          </tr>
        </tbody>
      </table>

        <% if user_signed_in? && current_user.admin? %>
          <%=link_to '編集', edit_team_path, method: :get, class:"btn btn--gray" %>
          <%=link_to '削除', "/teams/#{@team.id}", method: :delete, class:"btn btn--red" %>
        <% end %>
    </div>

    <% if user_signed_in? %>
   <div class="option" >
     <div class="favorite-btn">
       <%=link_to "お気に入り登録", team_favorites_path(@team.id), method: :post %>
     </div>
     <div class="report-btn">
       <%=link_to "お気に入り解除", team_favorites_path(@team.id), method: :delete %>
     </div>
     <div>テスト</div>
     <% else %>
       <p>※※※お気に入りをするにはユーザー登録をしましょう※※※</p>
     <% end %>
   </div>

  </main>
</body>