<body>
  <main>

    <div class="content">
      <div class="table-name">
        投手成績
      </div>
      <table>
        <thead class="table-item">
          <tr>
            <th scope="col">投手名</th>
            <th scope="col">勝利</th>
            <th scope="col">敗北</th>
            <th scope="col">被安打</th>
            <th scope="col">防御率</th>
            <th scope="col">失点</th>
            <th scope="col">被本塁打</th>
            <th scope="col">与四球</th>
            <th scope="col">与死球</th>
            <th scope="col">投球回</th>
            <th scope="col">被打率</th>
            <th scope="col">被出塁率</th>
            <th scope="col">qs</th>
            <th scope="col">被長打率</th>
            <th scope="col">被OPS</th>
            <th scope="col">LOB%</th>
            <th scope="col">BB/9</th>
            <th scope="col">HR/9</th>
            <th scope="col">WHIP</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <% @pitcher.each do |p| %>
          <tbody>
            <tr>
              <td scope="row"><%= p.pitcher_name %></td>
              <td><%= p.win %></td>
              <td><%= p.lose %></td>
              <td><%= p.damage_hit %></td>
              <td><%= p.defense %></td>
              <td><%= p.conceded %></td>
              <td><%= p.damage_homerun %></td>
              <td><%= p.gave_walks %></td>
              <td><%= p.gave_dead_ball %></td>
              <td><%= p.inning %></td>
              <td><%= p.damage_batting_average %></td>
              <td><%= p.damage_base_percentage %></td>
              <td><%= p.qs %></td>
              <td><%= p.damage_slugging_percentage %></td>
              <td><%= p.damage_ops %></td>
              <td><%= p.lob %>%</td>
              <td><%= p.bb9 %></td>
              <td><%= p.hr9 %></td>
              <td><%= p.whip %></td>
              <td><%=link_to '詳細', "/pitchers/#{p.id}", class:"btn btn--blue" %></td>
            </tr>
          </tbody>
        <% end %>
      </table>

      <% if user_signed_in? && current_user.admin? %>
        <div><%=link_to '新規データ入力', new_pitcher_path, class:"btn btn--yellow" %></div>
      <% end %>
    </div>
    
  </main>
</body>
