<body>
  <main>
    
    <div class="content">
      <div class="table-name">
        投手成績
      </div>
      <table>
        <thead class="table-item">
          <tr>
            <th scope="col">投手名</th>
            <th scope="col">勝利</th>
            <th scope="col">敗北</th>
            <th scope="col">被安打</th>
            <th scope="col">防御率</th>
            <th scope="col">失点</th>
            <th scope="col">被本塁打</th>
            <th scope="col">与四球</th>
            <th scope="col">与死球</th>
            <th scope="col">投球回</th>
            <th scope="col">被打率</th>
            <th scope="col">被出塁率</th>
            <th scope="col">qs</th>
            <th scope="col">被長打率</th>
            <th scope="col">被OPS</th>
            <th scope="col">LOB%</th>
            <th scope="col">BB/9</th>
            <th scope="col">HR/9</th>
            <th scope="col">WHIP</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td scope="row"><%= @pitcher.pitcher_name %></td>
            <td><%= @pitcher.win %></td>
            <td><%= @pitcher.lose %></td>
            <td><%= @pitcher.damage_hit %></td>
            <td><%= @pitcher.defense %></td>
            <td><%= @pitcher.conceded %></td>
            <td><%= @pitcher.damage_homerun %></td>
            <td><%= @pitcher.gave_walks %></td>
            <td><%= @pitcher.gave_dead_ball %></td>
            <td><%= @pitcher.inning %></td>
            <td><%= @pitcher.damage_batting_average %></td>
            <td><%= @pitcher.damage_base_percentage %></td>
            <td><%= @pitcher.qs %></td>
            <td><%= @pitcher.damage_slugging_percentage %></td>
            <td><%= @pitcher.damage_ops %></td>
            <td><%= @pitcher.lob %>%</td>
            <td><%= @pitcher.bb9 %></td>
            <td><%= @pitcher.hr9 %></td>
            <td><%= @pitcher.whip %></td>
          </tr>
        </tbody>
      </table>

        <% if user_signed_in? && current_user.admin? %>
          <%=link_to '編集', edit_pitcher_path, method: :get, class:"btn btn--gray" %>
          <%=link_to '削除', "/pitchers/#{@pitcher.id}", method: :delete, class:"btn btn--red" %>
        <% end %>
    </div>

  </main>
</body>
