<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Dashboard Template · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">

    

  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  
</header>


  

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">投手成績</h1>
      </div>
  
      <h2>Section title</h2>
      <div class="table-responsive"> 
          <table class="table table-striped table-sm">
        <thead>
            <tr>
          <tbody>
            <tr>
              <td><%= @pitcher.pitcher_name %></td>
              <td><%= @pitcher.win %></td>
              <td><%= @pitcher.lose %></td>
              <td><%= @pitcher.damage_hit %></td>
              <td><%= @pitcher.defense %></td>
              <td><%= @pitcher.conceded %></td>
              <td><%= @pitcher.damage_homerun %></td>
              <td><%= @pitcher.gave_walks %></td>
              <td><%= @pitcher.gave_dead_ball %></td>
              <td><%= @pitcher.inning %></td>
              <td><%= @pitcher.damage_batting_average %></td>
              <td><%= @pitcher.damage_base_percentage %></td>
              <td><%= @pitcher.qs %></td>
              <td><%= @pitcher.damage_slugging_percentage %></td>
            </tr>
          </tbody>
            </tr>
        </thead>
        </table>
      <% if user_signed_in? && current_user.admin? %>
        <%=link_to '編集', edit_pitcher_path, method: :get %>
        <%=link_to '削除', "/pitchers/#{@pitcher.id}", method: :delete %>
        <%=link_to 'TOP', root_path, class:"back-btn" %>
      <% end %>
      </div>
    </main>


  </body>
</html>