<body>
  <main>
    <div class="content">
      <div class="table-name">
        打者成績
      </div>
        <%= form_with model:@batter, local: true do |f| %>
          <table>
            <thead class="table-item">
              <tr>
                <th><%= f.text_field :batter_name, placeholder:"選手名"%></th>
                <th><%= f.number_field :bat, placeholder:"打数" %></th>
                <th><%= f.number_field :rbi, placeholder:"打点" %></th>
                <th><%= f.number_field :single, placeholder:"単打" %></th>
                <th><%= f.number_field :double, placeholder:"二塁打" %></th>
                <th><%= f.number_field :triple, placeholder:"三塁打" %></th>
                <th><%= f.number_field :homerun, placeholder:"本塁打" %></th>
                <th><%= f.number_field :walks, placeholder:"四球" %></th>
                <th><%= f.number_field :dead_ball, placeholder:"死球" %></th>
                <th><%= f.number_field :sacrifice_fly, placeholder:"犠飛" %></th>
                <th><%= f.number_field :strikeout, placeholder:"三振" %></th>
                <th><%= f.number_field :steal, placeholder:"盗塁" %></th>
                <th><%= f.number_field :steal_dead, placeholder:"盗塁死" %></th>
                <th><%= f.number_field :runs, placeholder:"得点" %></th>
                <th><%= f.submit "更新する" ,class:"btn btn--skyblue" %></th>
              </tr> 
            </thead>
          </table>
        <% end %>
    </div>
  </main>
</body>