<body>
  <main>

    <div class="content">
      <div class="table-name">
        打者成績
      </div>
      <table>
        <thead class="table-item">
          <tr>
            <th scope="col">選手名</th>
            <th scope="col">打数</th>
            <th scope="col">打点</th>
            <th scope="col">四球</th>
            <th scope="col">死球</th>
            <th scope="col">犠飛</th>
            <th scope="col">三振</th>
            <th scope="col">盗塁</th>
            <th scope="col">安打数</th>
            <th scope="col">打率</th>
            <th scope="col">出塁率</th>
            <th scope="col">OPS</th>
            <th scope="col">NOI</th>
            <th scope="col">GPA</th>
            <th scope="col">IsoD</th>
            <th scope="col">IsoP</th>
            <th scope="col">BABIP</th>
            <th scope="col">BB/K</th>
            <th scope="col">PA/K</th>
            <th scope="col">AB/HR</th>
            <th scope="col">RC</th>
            <th scope="col">SecA</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <% @batter.each do |b| %>
          <tbody>
            <tr>
              <td scope="row"><%= b.batter_name %></td>
              <td><%= b.bat %></td>
              <td><%= b.rbi %></td>
              <td><%= b.walks %></td>
              <td><%= b.dead_ball %></td>
              <td><%= b.sacrifice_fly %></td>
              <td><%= b.strikeout %></td>
              <td><%= b.steal %></td>
              <td><%= b.hits %></td>
              <td><%= b.batting_avarage %></td>
              <td><%= b.slugging_percentage %></td>
              <td><%= b.ops %></td>
              <td><%= b.noi %></td>
              <td><%= b.gpa %></td>
              <td><%= b.isod %></td>
              <td><%= b.isop %></td>
              <td><%= b.babip %></td>
              <td><%= b.bbk %></td>
              <td><%= b.pak %></td>
              <td><%= b.abhr %></td>
              <td><%= b.rc %></td>
              <td><%= b.seca %></td>
              <td><%=link_to '詳細', "/batters/#{b.id}", class:"btn btn--blue" %></td>
            </tr>
          </tbody>
        <% end %>
      </table>
  
      <% if user_signed_in? && current_user.admin? %>
        <%=link_to '新規データ入力', new_batter_path, class:"btn btn--yellow" %>
      <% end %>
    </div>

  </main>
</body>