<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Dashboard Template · Bootstrap v5.0</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/dashboard/">
    


  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  
</header>


  

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">打者成績</h1>
      </div>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>選手名</th>
              <th>打数</th>
              <th>打点</th>
              <th>単打</th>
              <th>二塁打</th>
              <th>三塁打</th>
              <th>本塁打</th>
              <th>四球</th>
              <th>死球</th>
              <th>犠飛</th>
              <th>三振</th>
              <th>盗塁</th>
              <th>盗塁死</th>
              <th>得点</th>
              <th>安打数</th>
              <th>打率</th>
              <th>出塁率</th>
              <th>OPS</th>
              <th>NOI</th>
              <th>GPA</th>
              <th>IsoD</th>
              <th>IsoP</th>
              <th>BABIP</th>
              <th>BB/K</th>
              <th>PA/K</th>
              <th>AB/HR</th>
              <th>RC</th>
              <th>SecA</th>
            </tr>
          </thead>
          <% @batter.each do |b| %>
          <tbody>
            <tr>
              <td><%= b.batter_name %></td>
              <td><%= b.bat %></td>
              <td><%= b.rbi %></td>
              <td><%= b.single %></td>
              <td><%= b.double %></td>
              <td><%= b.triple %></td>
              <td><%= b.homerun %></td>
              <td><%= b.walks %></td>
              <td><%= b.dead_ball %></td>
              <td><%= b.sacrifice_fly %></td>
              <td><%= b.strikeout %></td>
              <td><%= b.steal %></td>
              <td><%= b.steal_dead %></td>
              <td><%= b.runs %></td>
              <td><%= b.hits %></td>
              <td><%= b.batting_avarage %></td>
              <td><%= b.slugging_percentage %></td>
              <td><%= b.ops %></td>
              <td><%= b.noi %></td>
              <td><%= b.gpa %></td>
              <td><%= b.isod %></td>
              <td><%= b.isop %></td>
              <td><%= b.babip %></td>
              <td><%= b.bbk %></td>
              <td><%= b.pak %></td>
              <td><%= b.abhr %></td>
              <td><%= b.rc %></td>
              <td><%= b.seca %></td>
              <td><%=link_to '詳細', "/batters/#{b.id}" %></td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
    <% if user_signed_in? && current_user.admin? %>
      <%=link_to '新規データ入力', new_batter_path, class:"back-btn" %>
      <%=link_to 'TOP', root_path, class:"back-btn" %>
    <% end %>
    </main>
  </div>
</div>


    
  </body>
</html>
