<body>
  <main>

    <div class="content">
      <div class="table-name">
        打者成績
      </div>
      <table>
        <thead class="table-item">
          <tr>
            <th scope="col">選手名</th>
            <th scope="col">打数</th>
            <th scope="col">打点</th>
            <th scope="col">四球</th>
            <th scope="col">死球</th>
            <th scope="col">犠飛</th>
            <th scope="col">三振</th>
            <th scope="col">盗塁</th>
            <th scope="col">安打数</th>
            <th scope="col">打率</th>
            <th scope="col">出塁率</th>
            <th scope="col">OPS</th>
            <th scope="col">NOI</th>
            <th scope="col">GPA</th>
            <th scope="col">IsoD</th>
            <th scope="col">IsoP</th>
            <th scope="col">BABIP</th>
            <th scope="col">BB/K</th>
            <th scope="col">PA/K</th>
            <th scope="col">AB/HR</th>
            <th scope="col">RC</th>
            <th scope="col">SecA</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td scope="row"><%= @batter.batter_name %></td>
            <td><%= @batter.bat %></td>
            <td><%= @batter.rbi %></td>
            <td><%= @batter.walks %></td>
            <td><%= @batter.dead_ball %></td>
            <td><%= @batter.sacrifice_fly %></td>
            <td><%= @batter.strikeout %></td>
            <td><%= @batter.steal %></td>
            <td><%= @batter.hits %></td>
            <td><%= @batter.batting_avarage %></td>
            <td><%= @batter.slugging_percentage %></td>
            <td><%= @batter.ops %></td>
            <td><%= @batter.noi %></td>
            <td><%= @batter.gpa %></td>
            <td><%= @batter.isod %></td>
            <td><%= @batter.isop %></td>
            <td><%= @batter.babip %></td>
            <td><%= @batter.bbk %></td>
            <td><%= @batter.pak %></td>
            <td><%= @batter.abhr %></td>
            <td><%= @batter.rc %></td>
            <td><%= @batter.seca %></td>
          </tr>
        </tbody>
      </table>

      <% if user_signed_in? && current_user.admin? %>
        <%=link_to '編集', edit_batter_path, method: :get, class:"btn btn--gray" %>
        <%=link_to '削除', "/batters/#{@batter.id}", method: :delete, class:"btn btn--red" %>
      <% end %>
    </div>
    
  </main>
</body>