<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>セイバーメトリクス's</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <header class="top-header">
      <link rel ="stylesheet" type="text/css" >
        <div class="tittle-bar">セイバーメトリクス's</div>
          <% if user_signed_in? %>
            <div class="nav__right">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn--brown" %>
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path, class:"btn btn--beige" %>
              <%= link_to "新規登録", new_user_registration_path, class:"btn btn--greenyellow" %>
            </div>
          <% end %>
        </div>    
    </header>
  </head>

  <body>
    <%= yield %>
  </body>
  
  <footer>
  <div class="top-footer"> 
    <div class="footer-name">@ty 2021-2022</div>
    <div><%=link_to 'TOP', root_path, class:"btn btn--green" %></div>
  </div>
  </footer>
</html>
